<div class="ui center aligned container animated bounce">
    <img src="images/faq.png">
    <h1 class="ui header">FAQ</h1>
    <p>What do you need to know ?</p>
    <h1></h1>
</div>
<div class="ui text container animated fadeInLeft">
    <h1>What is services.lk ?</h1>
    services.lk is a website which helps building and construction service providers to find jobs and service seekers to find
    service providers. With GoodMason.com, you can simply find your desired building and construction aspects in just one
    click.

    <h1>How can I register with the site (normal users/service seekers)</h1>
    After navigating to the GoodMason.com homepage, you just have to click the sign up tab and provide a user name and password
    for the site. After that you are ready to go.

    <h1>How can I register with the site if I'm a service provider</h1>
    To provide a quality service and for the own benefit of the service providers, you’re required to mention your experience
    and your specialty of work when you sign up. Along with that you're required to send us a scanned image of your national
    identity card for security purposes. This is to assure that no one spoils the quality of the site and reputation of the
    service providers by misusing it and providing wrong information.

    <h1>As a service provider, do I have to refer the site always to find out if a client has requested a service from me</h1>
    As the website takes your mobile number when you're registering with the website, we will send a notification to your phone
    when a client has requested you. You simply have to just sign up with the site. We'll take care of the rest of the things
    for you.

    <h1>As a service seeker, how can I find the best service provider to get my work done perfectly</h1>
    In the service providers page we are providing all the details of the service providers including his reputation, past work
    and the amount of likes and dislikes that he has gained for his work. You simply have to visit the service providers
    page and find the best available service provider/providers according to your needed service specialty.

    <h1>How can I be sure that the site provides accurate data about the service providers</h1>
    We always request for the service experience information and any certificates of proof for the mentioned specification of
    service. And also we are deactivating any service provider who is having more than three dislikes from clients. So based
    on these quality measures we can assure you that we are providing accurate details of quality service providers.

    <h1>How can I report any kind of problem that I've faced because of a service provider I've booked through the site</h1>
    If you have faced any kind of problem regarding a service provider or any other reason, you simply can go to our feedback
    and complaints page and mention the problem there. Our team will refer to your valuable feedbacks and take necessary
    actions and precautions to minimize any type of the mentioned problems.

</div>