<div class="ui center aligned container">
    <img src="images/l1.png" class="animated tada">
    <!-- <h1 class="ui header">Search Our Database</h1> -->
    <p>Looking for someone near you?</p>
    <div class="ui search">
        <div class="ui icon input">
            <input class="prompt" type="text" ng-model="searchName" ng-keyup="searchByName()" placeholder="Search service providers .. .." style="width: 600px; height: 40px">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <p></p>
    <div class="ui floating labeled icon dropdown button" style="margin-bottom: 20px">
        <i class="filter icon"></i>
        <span class="text">Search By Categories</span>
        <div class="menu">
            <div class="header">
                Search Categories
            </div>
            <div class="ui left icon input">
                <i class="search icon"></i>
                <input name="search" placeholder="Search..." type="text">
            </div>
            <div class="header">
                <i class="tags icon"></i>
                Filter by category
            </div>
            <div class="divider"></div>
            <a href="#search/category/{{category}}" ng-repeat="category in categories" class="item">
                <div class="ui red empty circular label"></div>
                {{category}}
            </a>
        </div>
    </div>

    <div class="ui five statistics">
        <div class="statistic">
            <div class="">
                <img src="images/trowel.png" class="ui inline image">
            </div>
            <div class="label">
                masonary work
            </div>
        </div>
        <div class="statistic">
            <div class="">
                <img src="images/carpenter.png" class="ui inline image">
            </div>
            <div class="label">
                carpentry
            </div>
        </div>
        <div class="statistic">
            <div class="">
                <img src="images/broken-cable.png" class="ui inline image">
            </div>
            <div class="label">
                electricians
            </div>
        </div>
        <div class="statistic">
            <div class="">
                <img src="images/pipe.png" class="ui inline image">
            </div>
            <div class="label">
                piping
            </div>
        </div>
        <div class="statistic">
            <div class="">
                <img src="images/brush.png" class="ui inline image">
            </div>
            <div class="label">
                painting
            </div>
        </div>
    </div>
</div>

<script>
    $('.ui.dropdown')
        .dropdown()
        ;
</script>