<div class="ui center aligned container">
    <img src="images/logopl.png">
    <h1 class="ui header">Search Our Database</h1>
    <p>Looking for someone near you?</p>
    <div class="ui search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search service providers .. .." style="width: 600px; height: 40px">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <p></p>
    <span>
            Show me service providers who are
            <div class="ui inline dropdown">
               <div class="text">
                  <img class="ui avatar image" src="/images/avatar/small/jenny.jpg">
                  Jenny Hess
               </div>
               <i class="dropdown icon"></i>
               <div class="menu">
                  <div class="item">
                     <img class="ui avatar image" src="images/trowel.png">
                     Jenny Hess
                  </div>
                  <div class="item">
                     <img class="ui avatar image" src="images/trowel.png">
                     Elliot Fu
                  </div>
                  <div class="item">
                     <img class="ui avatar image" src="images/trowel.png">
                     Stevie Feliciano
                  </div>
                  <div class="item">
                     <img class="ui avatar image" src="images/trowel.png">
                     Christian
                  </div>
                  <div class="item">
                     <img class="ui avatar image" src="images/trowel.png">
                     Matt
                  </div>
                  <div class="item">
                     <img class="ui avatar image" src="images/trowel.png">
                     Justen Kitsune
                  </div>
               </div>
            </div>
         </span>
    <h1></h1>
    <div class="ui five statistics">
        <div class="statistic">
            <div class="">
                <img src="images/trowel.png" class="ui inline image">
            </div>
            <div class="label">
                බිත්තියක් බඳිමුද
            </div>
        </div>
        <div class="statistic">
            <div class="">
                <img src="images/carpenter.png" class="ui inline image">
            </div>
            <div class="label">
                මේසයක් පුටුවක් හදන්න
            </div>
        </div>
        <div class="statistic">
            <div class="">
                <img src="images/broken-cable.png" class="ui inline image">
            </div>
            <div class="label">
                වයර් ශෝට් එකක්
            </div>
        </div>
        <div class="statistic">
            <div class="">
                <img src="images/pipe.png" class="ui inline image">
            </div>
            <div class="label">
                වතුර ලීක් නම්
            </div>
        </div>
        <div class="statistic">
            <div class="">
                <img src="images/brush.png" class="ui inline image">
            </div>
            <div class="label">
                පේන්ට් වැඩ වලට
            </div>
        </div>
    </div>
</div>