<div class="ui center aligned container animated bounce">
    <img src="images/saw.png">
    <h1 class="ui header">{{profile.name}}</h1>
    <br>
    <div class="ui compact menu">
        <a class="item">
            <i class="icon mail"></i> Recommend
            <div class="floating ui red label">{{profile.recommends}}</div>
        </a>
        <a class="item">
            <i class="icon users"></i> Report
            <div class="floating ui teal label">{{profile.reports}}</div>
        </a>
    </div>

    <h1></h1>
</div>
<div class="ui text container">
    <div>
        <div>
            <h3 class="ui dividing header">Information

            </h3>
            <table class="ui single line table" style="margin-bottom: 14px">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Contact Number</th>
                        <th>Location</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{profile.name}}</td>
                        <td>{{profile.contact}}</td>
                        <td>{{profile.location}}</td>
                        <td>{{profile.address}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div>
            <h3 class="ui dividing header">Services

            </h3>
            <div class="ui steps" style="margin-bottom: 14px">
                <div class="step">
                    <div class="floating ui red label">{{profile.rate}}</div>
                    <i class="truck icon"></i>
                    <div class="content">
                        <div class="title">{{profile.service}}</div>
                        <div class="description">{{profile.rate}} LKR per {{profile.unit}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3 class="ui dividing header">Compare

            </h3>
            <div class="ui image label" ng-repeat="comp in competitors" ng-if="comp._id != profile._id" style="margin-left: 30px">
                <img src="../images/usersearch.png"> {{comp.name}}
                <div class="detail">{{comp.rate}}</div>
            </div>


        </div>
    </div>
    <div class="ui comments">
        <h3 class="ui dividing header">Comments
            <a class="ui blue circular label">2</a>
        </h3>
        <div class="comment">
            <a class="avatar">
                <img src="/images/avatar/small/matt.jpg">
            </a>
            <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                    <span class="date">Today at 5:42PM</span>
                </div>
                <div class="text">
                    How artistic!
                </div>
                <div class="actions">
                    <a class="reply">Reply</a>
                </div>
            </div>
        </div>
        <div class="comment">
            <a class="avatar">
                <img src="/images/avatar/small/elliot.jpg">
            </a>
            <div class="content">
                <a class="author">Elliot Fu</a>
                <div class="metadata">
                    <span class="date">Yesterday at 12:30AM</span>
                </div>
                <div class="text">
                    <p>This has been very useful for my research. Thanks as well!</p>
                </div>
                <div class="actions">
                    <a class="reply">Reply</a>
                </div>
            </div>
        </div>

        <form class="ui reply form">
            <div class="field">
                <textarea rows="2"></textarea>
            </div>
            <div class="ui blue labeled submit icon button">
                <i class="icon edit"></i> Add Reply
            </div>
        </form>
    </div>
</div>