<div class="ui center aligned container animated bounce">
    <img src="images/brick-wall.png">
    <h1 class="ui header">Register Today</h1>
    <p>To make you travel hassle free</p>
    <h1></h1>
</div>
<div class="ui text container animated fadeInLeft">
    <form class="ui form">
        <h4 class="ui dividing header">Personal Information</h4>
        <div class="field">
            <label>Name</label>
            <div class="two fields">
                <div class="field">
                    <input type="text" name="shipping[first-name]" placeholder="First Name">
                </div>
                <div class="field">
                    <input type="text" name="shipping[last-name]" placeholder="Last Name">
                </div>
            </div>
        </div>
        <div class="field">
            <label>Email & Contact Number</label>
            <div class="two fields">
                <div class="field">
                    <input type="text" name="shipping[first-name]" placeholder="Email">
                </div>
                <div class="field">
                    <input type="text" name="shipping[last-name]" placeholder="Contact No">
                </div>
            </div>
        </div>
        <div class="field">
            <label>Nearest Location</label>
            <div class="fields">
                <div class="twelve wide field">
                    <input type="text" name="shipping[address]" placeholder="Street Address">
                </div>
                <div class="four wide field">
                    <input type="text" name="shipping[address-2]" placeholder="Apt #">
                </div>
            </div>
        </div>
        <h4 class="ui dividing header">Account Information</h4>
        <div class="field">
            <label>Account Type</label>
            <div class="ui buttons">
                <button class="ui button">User Account</button>
                <div class="or"></div>
                <button class="ui positive button">Service Provider Account</button>
            </div>
        </div>
        <h4 class="ui dividing header">Create Account</h4>
        <button class="ui button" type="submit">Submit</button>
    </form>
</div>