<div class="ui center aligned container animated bounce">
    <img src="images/user.png">
    <h1 class="ui header">{{pageHeader}}</h1>
    <p>{{pageSubHeader}}</p>
    <h1></h1>
</div>
<div class="ui text container animated fadeInLeft">
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">
            <i class="icon user"></i> Account</a>
        <a class="item" data-tab="second" ng-show="!registration">
            <i class="icon file outline"></i> Requests
            <span class="ui blue circular label">{{requests.length}}</span>
        </a>
        <a class="item" data-tab="third" ng-show="!registration">
            <i class="icon heart"></i> Favorites
            <span class="ui blue circular label">{{favorites.length}}</span>
        </a>
        <a class="item" data-tab="fourth" ng-show="!registration">
            <i class="icon quote right"></i> Comments
            <!-- <span class="ui blue circular label">{{comments.length}}</span> -->
        </a>
        <a class="item" data-tab="fifth" ng-show="!registration">
            <i class="icon announcement"></i> Feedback
            <!-- <span class="ui blue circular label">{{feedback.length}}</span> -->
        </a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <form class="ui form" name="registerForm">
            <h4 class="ui dividing header">Personal Information</h4>
            <div class="field">
                <label>Name</label>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="first-name" ng-model="User.firstName" placeholder="First Name">
                    </div>
                    <div class="field">
                        <input type="text" name="last-name" ng-model="User.lastName" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Email & Contact Number</label>
                <div class="two fields">
                    <div class="field">
                        <input type="text" ng-model="User.email" name="shipping[first-name]" placeholder="Email">
                    </div>
                    <div class="field">
                        <input type="text" ng-model="User.contact" name="shipping[last-name]" placeholder="Contact No">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Nearest Location</label>
                <div class="fields">
                    <div class="twelve wide field">
                        <input type="text" ng-model="User.location" name="shipping[address]" placeholder="City">
                    </div>
                    <div class="four wide field">
                        <input type="text" name="shipping[address-2]" placeholder="Town">
                    </div>
                </div>
            </div>
            <h4 class="ui dividing header">Account Information</h4>
            <div class="field">
                <label>Account Type</label>
                <div class="ui buttons">
                    <button class="ui button" ng-click="User.type = 'user'">User Account</button>
                    <div class="or"></div>
                    <button class="ui positive button" ng-click="User.type = 'provider'">Service Provider Account</button>
                </div>
            </div>
            <div class="field">
                <label>Account Password</label>
                <div class="six wide field">
                    <input type="password" ng-model="User.password" name="shipping[address]" placeholder="Password">
                </div>
            </div>
            <h4 class="ui dividing header">Create Account</h4>
            <button class="ui button" ng-click="createUser()">Submit</button>
            <div class="ui form warning" style="margin-top: 14px" ng-if="formErrors.length > 0">
                <div class="ui warning message">
                    <div class="header">Could you check something!</div>
                    <ul class="list">
                        <li ng-repeat="error in formErrors">{{error}}</li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="ui success message" ng-if="userRegistered">
            <i class="close icon"></i>
            <div class="header">
                Your user registration was successful.
            </div>
            <p>You may now log-in with the username you have chosen</p>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Provider</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="comment in requests" class="{{comment.rating == 'Report' ? 'error' : 'positive'}}">
                    <td>{{comment.date | date : "dd-MM-yyyy"}}</td>
                    <td>
                        <a href="#profile/{{comment.provider_id}}"> {{comment.provider}}</a>
                    </td>
                    <td>{{comment.satisfied ? 'Available': 'Pending'}}</td>
                    <td>
                        <button class="negative ui mini button" ng-click="removeComment(comment._id)"> Remove</button>
                        <button class="positive {{comment.satisfied ? '': 'disabled'}} ui mini button" ng-click="removeComment(comment._id)"> View Quote</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        <div class="ui middle aligned divided list">
            <div class="item" ng-repeat="fav in favorites">
                <div class="right floated content">
                    <a class="ui blue basic label">No Updates</a>
                </div>
                <img class="ui avatar image" src="../images/daniel.jpg">
                <div class="content">
                    <a href="#profile/{{comment.provider}}" class="header">{{fav.provider}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="fourth">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Profile ID</th>
                    <th>Rating</th>
                    <th>Comment</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="comment in comments" class="{{comment.rating == 'Report' ? 'error' : 'positive'}}">
                    <td>{{comment.date | date : "dd-MM-yyyy"}}</td>
                    <td>
                        <a href="#profile/{{comment.provider}}"> {{comment.provider}}</a>
                    </td>
                    <td>{{comment.rating}}</td>
                    <td>{{comment.comment}}</td>
                    <td>
                        <button class="negative ui mini button" ng-click="removeComment(comment._id)"> Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui bottom attached tab segment" data-tab="fifth">
        <div class="ui comments">
            <div class="comment" ng-repeat="comment in feedback">
                <a class="avatar">
                    <img src="images/matt.jpg">
                </a>
                <div class="content">
                    <a class="author">{{comment.rating}}</a>
                    <div class="metadata">
                        <span class="date">{{comment.createdAt | date : "dd-MM-yyyy"}}</span>
                    </div>
                    <div class="text">
                        {{comment.description}}
                    </div>
                    <div class="actions">
                        <a ng-click="removeComment(comment._id)" class="reply">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.menu .item')
        .tab()
        ;
</script>